body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background: linear-gradient(135deg, #eaa30a, #fb3403);
    background-image: url(./fondo.jpg);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    width: 80%;
    max-width: 1200px;
    background-color: rgb(122, 32, 35);
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(121, 99, 105, 0.416);
    overflow: hidden;
}

.login-panel {
    padding: 40px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login-header {
    text-align: center;
    margin-bottom: 30px;
}

.login-header .logo {
    width: 80px;
    height: 80px;
    margin-bottom: 10px;
}

.login-header h1 {
    font-size: 24px;
    color: #ec9756;
    font-weight: 600;
    margin: 0;
}

.input-group {
    margin-bottom: 20px;
    position: relative;
}

.input-group input {
    width: 100%;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #feae8a;
    box-sizing: border-box;
    font-size: 16px;
}

.verification-code {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    background-color: #ff0000;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
    color: #150707;
}

.login-button {
    background-color: #6f2121;
    color: #871212;
    padding: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    transition: background 0.3s ease;
    margin-top: 20px;
}

.login-button:hover {
    background-color: #c02c22;
}

.forgot-password {
    text-align: right;
    margin-top: 15px;
}

.forgot-password a {
    text-decoration: none;
    color: #453939;
    font-size: 14px;
}

.illustration {
    width: 50%;
    background: url('https://via.placeholder.com/600x400') no-repeat center center;
    background-size: cover;
    left: 100%;
}